<header id="layout-header">

    <nav>
        <div class="mini-logo">
            <h2>CloneBook</h2>
        </div>


        <!-- <div class="auth-links">
            <ul>
                <% if (locals.user){ %>
                    <li>
                        <a href="/users/profile/<%= user.id %>">
                            <%= user.name %>
                        </a>
                    </li>
                    <li>
                        <a href="/users/sign-out">Sign Out</a>
                    </li>
                <% }else{ %>
        
                    <li>
                        <a href="/users/sign-in">Sign In</a>
                    </li>
        
                    <li>
                        <a href="/users/sign-up">Sign up</a>
                    </li>
        
                <% } %>
            </ul>
        </div> -->

        <% if (locals.user){ %>
            <div class="dropdown">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
                    <a href="/home">Home</a>
                    <a href="/users/profile/<%= user.id %>/<%= locals.user.id %>">Profile</a>
                    <a href="/chat/<%= user.id %>">Friends</a>
                    <a href="/chat/<%= user.id %>">Chat</a>
                    <a href="/users/sign-out">Log Out</a>
                </div>
            </div>
        <% } %>
    </nav>


</header>