<li id="post-<%= post._id %>">
    <p>
        <% if(locals.user && locals.user.id==post.user.id){ %>
        <small>
            <a class="delete-post-button" href="/posts/destroy/<%= post.id %>">Delete</a>
        </small>
        <% } %>
        <%= post.content %>
        <small>
            <b>
                <%= post.user.name %>
            </b>           
        </small>


        <!-- making the likes button in when the user is signed in, it will show the number of likes in a link form so to increase or decrease the number of likes -->
        <!-- and if the user is logged out then it will only sjow the number of like in a simple p tag or a h tag -->

        <small>
            <% if(locals.user){ %>
                <button>
                    <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%= post._id %>&type=Post" style="text-decoration: none;">
                        
                        <%= post.likes.length %> Likes

                    </a>
                </button>
            <% }else{ %>
                
                <%= post.likes.length %> Likes

            <% } %>
        </small>
        
    </p>

    <div class="post-comments">
        <% if (locals.user){ %>
            <form action="/comments/create" method="POST">
                <input type="text" name="content" placeholder="Type here to add comment..." id="">
                <input type="hidden" name="post" value="<%= post._id %>">
                <input type="submit" value="Add Comment">
            </form>
        <% } %>   
        
        <div class="post=comments-list">
            <ul class="post-comments-<%= post._id %>">
                <% for (comment of post.comments){ %>
                    
                    <%- include('_comment') -%>
                    
                <% } %>
            </ul>
        </div>
    </div>
</li>