<link rel="stylesheet" href="/css/_post.css">

<% if(locals.user){ %>
    
    <div class="post"> 

        <div class="post_name_and_dlt">
            <h3>
                <a href="/users/profile/<%= post.user.id %>/<%= locals.user.id %>" style="text-decoration:none; color: white; "> <%= post.user.name %>  </a>
                
            </h3>
            <% if(locals.user && locals.user.id==post.user.id){ %>
                <button>
                    <a class="delete-post-button" href="/posts/destroy/<%= post.id %>">Delete Post</a>
                </button>
            <% } %>
        </div>

        <div class="stuff_container">

            <div class="image_container">
                <img src=" /<%= post.img %> " alt="Post">
            </div>

            <div class="post_comments">
                
                <% if (locals.user){ %>
                    <form action="/comments/create" method="POST" class="comment_form">
                        <input type="text" name="content" placeholder="Type here to add comment..." class="add_commment">
                        <input type="hidden" name="post" value="<%= post._id %>">
                        <input type="submit" value="Add Comment" class="add_comment_button">
                    </form>
                <% } %>
    
                <div class="post_comments_list">
                    <ul class="post-comments-<%= post._id %>">
                        <% for (comment of post.comments){ %>      
                            <%- include('_comment') -%>  
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>

        <h3 class="postContent">
            <%= post.content %>
        </h3>
        <button class="likeButton">
            <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%= post._id %>&type=Post" style="text-decoration: none;">                  
                <%= post.likes.length %> Like
            </a>
        </button>
    </div>
<% } %>


