<link rel="stylesheet" href="/css/home.css">

<% if(locals.user){ %>

    <div class="home_container">

        <div class="posts_section">

            <div class="posts_heading">
                <h1>Posts</h1>
            </div>

            <div class="add_product">
                <form action="/posts/create " class="new_post_form" method="POST" enctype="multipart/form-data" >
                    
                    <textarea name="content" class="caption" cols="30" rows="1" placeholder="Add your caption here" required></textarea>
                    <input type="file" id="image" name="image" value="" required>
                    <input type="submit" value="Add New Post" class="post_button">
                </form>
            </div>

            <div class="posts_list_container">
                    <% for(post of posts){ %> 
                        <%- include('_post') -%>
                    <% } %>    
            </div>

        </div>
    
        <div class="add_and_people_section" id="ads">
            <div class="add_section">
                <%- include('_ads') -%>
            </div>
                
            </div> -->

            <div class="people_you_may_know_section">
                <h3>People You May Know</h3>
                <% for(u of all_users){ %>
                    <div>
                        <p>
                            <a href="/users/profile/<%= u.id %>/<%= locals.user.id %>" class="user_proflie_link"> <%= u.name %> </a>
                        </p>
                    </div>
                <% } %>
            </div>

        </div>

    </div>
<% } %>

<p>
    
</p>


<!-- importing the scripts for creating the comments -->
<script src="/js/home_post_comments.js" ></script>
<script src="/js/home_posts.js"></script>



<!-- import the script file for toggle likes, also run it over for the already present posts and comments on the page -->
<script src="js/toggle_likes.js"></script>
<script>
    // here we will toggle each element present which have class toggle-like-button..... we have we each because we will have more than one like buttons in one page and all will have same class  
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>




<!-- Script for ads -->
<script src="/js/ads.js"></script>